h1 {
	color: #8f6d8b;
	text-align: center;
}

p {
	color: magenta;
	text-align: circle;
}

div{
	font-family: Garamond, Times New Roman;
	font-size:28px;
	font-weight:bold;
	background-color: #bd95b9;
	width: 50%;
	padding: 20px;
	border: 5px dotted #f0d5ed;
}

table{
	border: 5px solid #574755;
	border-collapse: collapse;	
	width: 50%;
	text-align: center;
}
th,td{
	border: 1px solid #574755;
	padding: 5px;
}
th{
	background-color: lightgray;
}
